
<section class="panel">
	<h4>Top Level Controller</h4>

	<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-info" ng-click="updateDataInfo()">Update Info</button>
		</span>
		<input type="text" class="form-control" ng-model="data.info">
	</div>
</section>

<section class="panel" ng-controller="C13ctrlinheritanceCtrlChild1">
	<h4>Top Level Controller</h4>

	<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-info" ng-click="updateDataInfo()">Update Info</button>
		</span>
		<input type="text" class="form-control" ng-model="data.info">
	</div>
</section>

<section class="panel" ng-controller="C13ctrlinheritanceCtrlChild2">
	<h4>Top Level Controller</h4>

	<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-info" ng-click="updateDataInfo()">Update Info</button>
		</span>
		<input type="text" class="form-control" ng-model="data.info">
	</div>
</section>
