
<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">6 Directive with Replace 'true'</h3>
	</div>
	<div template-url-example-directive-with-replace="people" data-view-type="table"></div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">5 Directive with template dynamic selection in a HTMLs files</h3>
	</div>
	<div template-url-example-directive-two="people" data-view-type="table"></div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">4 Directive with template in a HTML file</h3>
	</div>
	<div class="panel-body">
		<div template-url-example-directive="people"></div>
	</div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">3 Directive with template</h3>
	</div>
	<div class="panel-body">
		<div template-example-directive="people"></div>
	</div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">2 Directive as an Element</h3>
	</div>
	<div class="panel-body">
		<restrict-example-directive data-list="people" />
	</div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">1 Directive as an Attribute</h3>
	</div>
	<div class="panel-body">
		<div restrict-example-directive="people"></div>
	</div>
</section>

