

<section class="panel" ng-controller="Chapter13Ctrl">
	<div class="form-group">
		<label>
			Info:
			<input type="text" class="form-control" ng-model="info" ng-change="updateInfo()">
		</label>
	</div>
	<div class="alert alert-info">Info: {{info}}</div>
	<div class="alert alert-info">InfoEvent: {{infoEvent}}</div>
</section>

<section class="panel" ng-controller="Chapter13Ctrl">
	<div class="form-group">
		<label>
			Info:
			<input type="text" class="form-control" ng-model="info" ng-change="updateInfo()">
		</label>
	</div>
	<div class="alert alert-info">Info: {{info}}</div>
	<div class="alert alert-info">InfoEvent: {{infoEvent}}</div>
</section>