<section class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Parse Service</h1>
	</div>
	<div class="panel-body">
		<section class="list-group-item">
			<div class="form-group">
				<label for="expression">Expression Eval</label>
				<input type="text" class="form-control" name="expression" id="expression" ng-model="expression">
			</div>
			<div class="form-group">
				<label>Result</label>
				<div expression-eval="expression"></div>
			</div>
		</section>
		<section class="list-group-item">
			<div class="form-group">
				<label for="price">Product Price(with $parse)</label>
				<input type="text" class="form-control" name="price" id="price" ng-model="price">
			</div>
			<div class="form-group">
				<label>Total Cost with Taxes</label>
				<div second-expression-eval product-price="price"></div>
			</div>
		</section>
		<section class="list-group-item">
			<div class="form-group">
				<label for="price">Product Price(with $interpolate)</label>
				<input type="text" class="form-control" name="price" id="price" ng-model="price">
			</div>
			<div class="form-group">
				<label>Total Cost with Taxes</label>
				<div third-expression-eval product-price="price"></div>
			</div>
		</section>
	</div>
</section>
