<section class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Sanitize</h1>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="htmlData">HTML Data</label>
			<input type="text" class="form-control" name="htmlData" id="htmlData" ng-model="htmlData">
		</div>
		<div class="form-group">
			<label>With ng-bind</label>
			<p ng-bind="htmlData"></p>
		</div>
		<div class="form-group">
			<label>With ng-bind-html</label>
			<p ng-bind-html="htmlData"></p>
		</div>
	</div>
</section>
