<style>
	.error {
		color: #900;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: small;
		margin-bottom: 0;
	}
</style>

<section class="panel panel-default">
	<div class="panel-heading">
		<h3>Tri -Button Directive</h3>
	</div>
	<div class="panel-body">
		<form name="myForm" novalidate>
			<tri-button-directive ng-model="selected" name="decision"></tri-button-directive>
			<select ng-model="selected">
				<option ng-repeat="value in ['Yes', 'No', 'Not Sure', 'Huu??']" ng-model="selected">{{value}}</option>
			</select>
		</form>
	</div>
</section>
